.education {
  width: 90vw;
  height: 90vh;
  margin: auto;
  padding: 10px;
}
.educationHeading {
  text-align: center;
  font-size: 3rem;
  color: #FA6166;
}
.educationflex {
  width: 95%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.educationDetails {
  box-shadow: 1px 1px 10px peru;
  background: rgb(253, 171, 89);
  width: 70%;
  height: 20%;
  position: relative;
  margin: 30px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.educationDetails:nth-child(2n) {
  left: 30%;
}
