.contact {
  padding: 20px;
  width: 70vw;
  margin: auto;
  height: 50vh;

}
.contactheading span{
    color: peru;
    font-size: 4rem;
}
.hr{
background-color: peru;
height: 3px;
border: 0;
}
.flexcontactinner {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  height: 50%;

}
.icon{
    margin-top: 20px;
}
.iconbg{
    padding: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.icon a{
    padding: 2px;
    margin: 0 5px;
    font-size: 2rem;
}
.nameheading{
    margin: 5px 0;
  color: peru;
  text-transform: capitalize;

}
.nameheading span {
  color: black;
}
.linkflex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.link{
    margin: 5px 0;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;


}
.linkflex p{
    margin: 5px 0;
    font-size: 1.5rem;
}
.title{
    color: peru;
    font-size: 1.5rem;
}
