* {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}

.profileMain {
  width:75%;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 50px;


}
.innerDivProfile h1{
    font-size: 3rem;
    
}



.innerDivProfile span {
  color: peru;
  font-size: 8rem;
  filter: drop-shadow(1px 1px 3px peru);
  -webkit-filter: drop-shadow(1px 1px 3px peru);
  letter-spacing: 3px;
}
.anchor {
  font-size: 2rem;
  text-decoration: none;
  color: peru;
  filter: drop-shadow(1px 1px 20px #d49a84);
  -webkit-filter: drop-shadow(1px 1px 20px #d49a84);
}

/* social icon  */
.socialIcon{
  margin-top: 20px;
  display: flex;
  align-items: center;

}
.socialIcon img{
  width: 40px;
  margin-left: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 1px 1px 10px peru;
}
.innerDivSecondProfile {
  width: 500px;
  height: 500px;
  background: peru;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  border-top-left-radius: 100%;



}

.profileImage {
  width: 500px;
  height: 500px;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  border-top-left-radius: 100%;
} 
